<?xml version="1.0"?>
<launch>

<!--<param name="use_sim_time" value="true" />-->

<!-- This starts gazebo and spawns the kingfisher -->
<include file="$(find kingfisher_gazebo)/launch/base_gazebo.launch" />



<!-- diagnostics -->
<node pkg="rqt_robot_monitor" name="rqt_robot_monitor" type="rqt_robot_monitor"/>
<node pkg="rqt_topic" name="rqt_topic" type="rqt_topic"/>
<node pkg="rqt_graph" name="rqt_graph" type="rqt_graph"/>
<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
</launch>